---
# Minimal Mistakes main stylesheet entrypoint
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


$serif              : "Times",serif;
$sans-serif  : "Gils Sans Light", sans-serif;

$global-font-family : $serif;

.body {
  font-family: $global-font-family;
  font-size: $type-size-2;
}

p {
  font-family: $global-font-family;
  font-size: $type-size-2;
}
